## Subsistema_2: Gesti贸n de los veh铆culos que son propiedad de los clientes
## y que se reparan y/o revisan en el taller. 
## Cada veh铆culo estar谩 identificado de forma 煤nica por su VIN.

openapi: 3.0.3
info:
  version: 1.1.0
  title: '[AOS] Especificaci贸n API REST de un servicio'
  description: '*Gestion de vehiculos'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'

servers:
  - url: http://127.0.0.1:80/api/v1

tags:
  - name: 'Vehiculos'
    description: Gestion de vehiculos
  - name: ' Clientes'
    description: Gestion de clientes (propietarios de vehiculos)
  - name: 'О Taller'
    description: Reparacion y revisi贸n de veh铆culos en el taller
  - name: 'Identificaci贸n'
    description: Identificaci贸n de veh铆culos de forma 煤nica por su VIN

paths:
  /vehiculos:
    get:
      summary: Obtiene todos los vehiculos
      description: |
        La siguiente tabla define los c贸digos de estado que puede devolver este endpoint
        
        | Status Code | Descripci贸n | Motivo                             |
        | ------------| ------------| -----------------------------------|
        | **200**     | OK          | Listado de vehiculos             |
        | **404**     | NOT FOUND   | No hay ningun vehiculo     
      operationId: vehiculo_cget
      tags: ['Vehiculos']
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/orderParam'
        - $ref: '#/components/parameters/orderingParam'
      responses:
        '200':
          description: Listado de vehiculos disponibles
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehiculos:
                    description: array de vehiculos
                    type: array
                    items:
                      $ref: '#/components/schemas/Vehiculos'
              examples:
                vehiculos-example:
                  $ref: '#/components/examples/vehiculos-example'
        '404':
            $ref: '#/components/responses/Response_404'

    options:
      summary: Proporciona la lista de los m茅todos HTTP soportados por esta ruta.
      description: Devuelve una cabecera `Allow` con la lista de m茅todos HTTP soportados (separados por comas).
      operationId: vehiculos_coptions
      tags: [ 'Vehiculos']
      responses:
        '204':
          description: 'cabecera `Allow` &lt;El cuerpo de la respuesta est谩 vac铆o&gt;'
          headers:
            Allow:
              $ref: '#/components/headers/Allow'


components:
   headers:
    ETag:
      description: "Entity Tag (identificador 煤nico proporcionado para validaci贸n de cach茅)"
      schema:
        type: string
        pattern: "[0-9a-f]*"
        example:
          33a64df551425fcc
    Allow:
      description: Lista de m茅todos HTTP soportados
      schema:
        type: string
      example: GET, DELETE, PUT, OPTIONS
    Location:
      description: '`URI` del nuevo recurso'
      schema:
        type: string
        format: uri
        x-faker: internet.url
        example:
          https://example.com/api/v1/plataformas/P01-001-A

  parameters:
    vehiculoId:
      name: vehiculo_id
      in: path
      description: Identificador 煤nico del Vehiculo
      required: true
      schema:
        $ref: '#/components/schemas/Id_Vehiculo'
    ifMatchParam:
      name: If-Match
      in: header
      description: ETag actual del recurso que se desea modificar
      required: true
      schema:
        type: string
        pattern: "[0-9a-f]*"
    orderParam:
      name: order
      in: query
      description: 'Criterio de ordenaci贸n: `id` | `tipo_envergadura`'
      required: false
      allowEmptyValue: false
      schema:
        type: string
        enum:
          - id
          - tipo_envergadura
    orderingParam:
      name: ordering
      in: query
      description: 'Ordenaci贸n: `ASC` | `DESC`'
      required: false
      allowEmptyValue: false
      schema:
        type: string
        enum:
          - ASC
          - DESC
    pageParam:
      name: page
      in: query
      description: 'N煤mero de p谩gina'
      required: false
      allowEmptyValue: false
      schema:
        type: integer
        minimum: 1

